<div class="container">   
  
    <div class="row">
        <div *ngIf="activeUser" class="alert alert-dark">
          <h2>Patient Detail Screen</h2>
        </div>
    </div>
 
    <div class="row">
        <div *ngIf="activeUser">
         <div class="activeUser">
          <table>
            <tr>
              <td><b>Medical ID :</b></td>
              <td >{{activeUser.id}}</td>
              <td><b>Age :</b></td>
              <td>{{activeUser.age}}</td>
              <td><b>Phone :</b></td>
              <td>{{activeUser.phone}}</td>
              <td><b>Address :</b></td>
              <td>{{activeUser.address}}</td>
            </tr>
            <tr>
              <td><b>Name :</b></td>
              <td>{{activeUser.name}}</td>
              <td><b>D.O.B :</b></td>
              <td>{{activeUser.dob}}</td>
              <td><b>Email :</b></td>
              <td v>{{activeUser.email}}</td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        </div>
  </div>

  <div class="row">
      <div class="col-md-12">

        <div class="alert alert-dark">
          <h2>Visit Details</h2>
        </div>

<div style="margin-bottom:20px;">
        <button type="button" class="btn btn-primary" (click)="addVisit()">Add Visit</button>
        <a routerLink="/list-user"><button class="btn btn-link" style="float:right;"> Home</button>
        </a>
  </div>
    <table class="table table-striped" >
        <thead class="thead-dark">
        <tr>
          <th class="hidden">Id</th>
          <th>Last Visit</th>
          <th>Doctor Name</th>
          <th>Comments</th>
          <th>Next Visit Date</th>
          <th>Medicines Prescribed</th>
          <th>Others</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let visit of visits">
          <td class="hidden">{{visit.id}}</td>
          <td>{{visit.lastVisit}}</td>
          <td>{{visit.doctorName}}</td>
          <td>{{visit.comments}}</td>
          <td>{{visit.nextVisit}}</td>
          <td>{{visit.medicines}}</td>
          <td>{{visit.others}}</td>
          <td><i class="fas fa-trash-alt" (click)="deleteVisit(visit)"></i></td>
          <td><i class="fas fa-edit" (click)="editVisit(visit)"></i></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
